<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h2><%= title %></h2>
			<a href="/add" class="btn btn-sm btn-primary">Add User</a><br /><br />
			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th>Nama</th>
						<th>Kontak</th>
						<th>Waktu Datang</th>
						<th>Nomor Meja</th>
						<th>Abjad Meja</th>
					</tr>
				</thead>
				<tbody>
					<% users.forEach(function(user){ %>
					<tr>
						<td><%= user.nama %></td>
						<td><%= user.kontak %></td>
						<td><%= user.waktu %></td>
						<td><%= user.abjad_meja %></td>
						<td><%= user.nomor_meja %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</body>
</html>
